@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family:"Poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #28725c;
}
#banner{
    background-image: url(./images/banner.jpg);
    height:100vh;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-cnt{
    background: rgba(0,0,0,0.3);
    height:100vh;
    width:100%;
}
.logo{
    height:50px;
    width:50px;
}
.nav-link{
    color:white;
    font-size:16px;
    margin-right:30px;
}
.nav-link:hover{
    color:black;
    transition:0.7s;
    border-bottom:1px solid black;
}

.banner-row{
    margin-top:150px;
}
.banner-col{
    text-align: center;
}
.banner-h1{
    color:#28725c;
    font-size:80px;
    font-weight:600;
    font-family:"Poppins",sans-serif;
}
.banner-p{
    font-size:20px;
    margin-top:40px;
    margin-bottom:40px;
    color:white;
}
.explore-btn{
    background-color:#28725c;
    color:white;
    padding:15px 100px;
}
.explore-btn:hover{
    background:white;
    color:#28725c;
    transition:0.7s;
}

/* story  */

#story{
    background-image: url(./images/second.png);
    height:100vh;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.story-row{
    padding-top:200px;
}
.story-h1{
    color:white;
    font-size:70px;
    font-weight:600;
    font-family:"Poppins",sans-serif;
}
.story-block{
    text-align: center;
}
.story-p{
    text-align:center;
    color:white;
    font-size:18px;
    margin-top:30px;
}

/* vision  */
#vision{
    background-image: url(./images/third.png);
    height:100vh;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vision-row{
    padding-top:240px;
}
.vision-block{
    text-align: center;
}
.mission-h1{
    margin-top:40px;
    
}
.mission-p{
    margin-top:20px;
}

#beliefs{
    background-image: url(./images/fourth.png);
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:300px;
}
.beliefs-row{
    padding-top:50px;
}
.img1{
    margin-top:30px;
    margin-bottom:10px;
    height:350px;
    width:350px;
    border-radius: 10px;
    box-shadow:
			/* 0 0 5px 5px #fff,    */
			0 0px 10px 10px #28725c,
			0 0px 15px 15px #0ff; 
}

#footer{
    margin-top:40px;
    margin-bottom:40px;
    text-align: center;
}
.footer-p{
    color:white;
    font-size:20px;
    margin-top:20px;
    font-family:"Poppins",sans-serif;
}
.footer-img{
    height:50px;
    width:50px;
    background-color:black;
    border-radius: 50%;
    margin-right:10px;
    padding:10px;
}

.social-links{
    position:fixed;
    left:10px;
    top:200px;
    background: linear-gradient(to bottom, #000099 0%, #28725c 100%);border:0px solid white;

    border-radius: 30px;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
    box-shadow: rgba(0, 0, 255, 0.35) 0px 5px 15px;
}
.social-link{
    height:30px;
    width:30px;
    margin-top:15px;
    margin-bottom:15px;
    cursor:pointer;
    color:white;
}
@media only screen and (max-width: 600px){
    /*banner */
    .banner-h1{
        font-size:40px;
    }
    .banner-p{
        font-size:18px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .explore-btn{
        padding:15px 40px;
    }
     /* story  */

    #story{
        height:100%;
    }
    .story-row{
        padding-top:70px;
    }
    .story-h1{
        font-size:40px;
    }
    .story-p{
        margin-top:20px;
    }
    /* vision  */
    #vision{
        height:100%;
    }
    .vision-row{
        padding-top:50px;
    }
    .mission-h1{
        margin-top:40px;
    }
    .mission-p{
        margin-top:20px;
    }

    #beliefs{
        padding-bottom:100px;
    }
    .beliefs-row{
        padding-top:20px;
    }
    .img1{
        margin-top:40px;
        margin-bottom:10px;
        height:250px;
        width:250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow:
    			/* 0 0 5px 5px #fff,    */
    			0 0px 10px 10px #28725c,
    			0 0px 15px 15px #0ff; 
    }

    
}